@page
@model IndexModel
@{
    ViewData["Title"] = "About Simulation";
}

<div class="text-center">
    <h1 class="display-4">Prezentacja projektu SimWeb</h1>
    <p><b>Wygenerowana sekwencja ruchów: </b> @Model.Simulation.Moves</p>
</div>
